@value ytubeGrey from "../../common/style.css";
@value Tablet, Tablet_S, Mobile from "../../common/size.css";

.videoDetail {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 1.5rem;
}

.videoPlayer {
  width: 100%;
  height: 30rem;
  margin-bottom: 0.5rem;
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 0.05rem solid ytubeGrey;
}

/* main info */
.mainInfo {
  padding: 1rem 0;
  border-bottom: 0.05rem solid ytubeGrey;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0.3em;
}

.upload {
  font-size: 0.9rem;
  font-weight: 600;
  color: ytubeGrey;
}

/* sub info */
.subInfo {
  max-width: 70%;
  display: flex;
}

.logo {
  position: relative;
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.logo img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subWrapper {
  padding-top: 0.5rem;
}

.channel {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  white-space: pre-wrap;
  cursor: pointer;
}

.channel:hover {
  opacity: 0.7;
}

/* responsive: Tablet */
@media screen and (max-width: Tablet) {
  .videoDetail {
    margin-right: 0;
  }

  .videoPlayer {
    height: 30rem;
  }

  .info {
    max-width: 100%;
  }
}

/* responsive: Tablet-S */
@media screen and (max-width: Tablet_S) {
  .videoPlayer {
    height: 24rem;
  }
}

/* responsive: Mobile */
@media screen and (max-width: Mobile) {
  .videoDetail {
    padding-top: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
  }

  .videoPlayer {
    height: 20rem;
  }
}
