.video_player {
  margin-bottom: 0.5rem;
}

.meta_data {
  display: flex;
  flex-direction: column;
}

.main_info {
  padding: 1rem 0;
  border-bottom: 0.05rem solid #666666;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.3em;
}

.upload {
  font-size: 1rem;
  font-weight: 600;
  color: #666666;
}

.sub_info {
  max-width: 70%;
  display: flex;
  margin-top: 10px;
}

.logo {
  flex-shrink: 0;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.logo img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub_right {
  padding-top: 0.5rem;
}

.channel {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #666666;
  cursor: pointer;
  white-space: pre-wrap;
}

.channel:hover {
  opacity: 0.7;
}

@media screen and (max-width) {
  .meta_data {
    max-width: 100%;
  }
}
