.header,
.logo,
.input_group {
  display: flex;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  padding: 5px 20px;
  height: 61px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  z-index: 10;
}

.menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  padding: 5px 12px;
}

.logo_img {
  display: block;
  position: relative;
  top: -2px;
}

.input_group {
  width: 40%;
  height: 38px;
  margin-left: 20px;
}

.input {
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  margin: 0;
  border: 1px solid #efefef;
  font-size: 1.1rem;
  outline: none;
}

.search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  background-color: #efefef;
  transition: transform 200ms ease-in-out;
}

.search_button:active {
  transform: scale(0.98);
}

.search_button img {
  display: block;
  width: 80%;
}

.input_group_mobile {
  display: none;
}

/* side menu */

.sidebar_hide {
  display: none;
}

.sidebar_show {
  display: block;
}

.list {
  position: fixed;
  width: 240px;
  height: 100%;
  padding: 10px 0;
  overflow: hidden;
  z-index: 10;
  margin: 0;
  background-color: white;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 18px;
}

.menu:hover {
  background-color: #efefef;
}

.menu span {
  margin-left: 15px;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
    justify-content: space-between;
  }

  .menu_button {
    font-size: 20px;
  }

  .logo_img {
    top: 0;
    width: 100px;
  }

  .input_group {
    display: flex;
    width: 55%;
    height: 38px;
  }

  .input {
    padding: 5px;
  }

  .search_button img {
    width: 20px;
  }
}
