@value ytubeBlack,ytubeDarkBlack,ytubeWhite,ytubeWhiteGrey,ytubeGrey from "../../common/style.css";
@value Mobile from "../../common/size.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 3.6rem;
  padding: 0.3rem 1rem 0.3rem 1.5rem;
  background-color: ytubeWhite;
  z-index: 10;
}

.header.dark {
  background-color: ytubeBlack;
  color: ytubeWhite;
}

/* logo */
.logo {
  display: flex;
  align-items: end;
  cursor: pointer;
}

.logoImg {
  display: block;
  width: 2.2rem;
}

.title {
  font-size: 1.5rem;
  letter-spacing: -0.08em;
}

/* icon wrapper */
.iconWrapper {
  display: flex;
}

/* search button */
.searchBtn {
  font-size: 1.4rem;
  padding: 0 0.5rem;
  color: ytubeGrey;
  margin-right: 0.5rem;
}

.searchBtn:hover,
.searchBtn:active {
  color: ytubeBlack;
}

.header.dark .searchBtn:hover,
.header.dark .searchBtn:active {
  color: ytubeWhite;
}

/* icon button */
.iconBtn {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: ytubeGrey;
  margin-right: 0.5rem;
}

.iconBtn:last-child {
  margin-right: 0;
}

.iconBtn:hover,
.iconBtn:active {
  color: ytubeBlack;
}

.header.dark .iconBtn:hover,
.header.dark .iconBtn:active {
  color: ytubeWhite;
}

/* responsive: Mobile */
@media screen and (max-width: Mobile) {
  .header {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }

  .logoImg {
    width: 1.9rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .searchBtn {
    font-size: 1.1rem;
  }

  .iconBtn {
    font-size: 1.3rem;
  }
}
