@value ytubeBlack,ytubeDarkBlack,ytubeWhite,ytubeWhiteGrey,ytubeGrey,ytubeRed from "./common/style.css";
@value Tablet, Tablet_S, Mobile from "./common/size.css";

.app {
  width: 100%;
  background-color: ytubeWhiteGrey;
  color: ytubeDarkBlack;
}

.app.dark {
  background-color: ytubeDarkBlack;
  color: ytubeWhite;
}

/* contents */
.contents {
  display: flex;
  width: 100%;
  max-width: 87.5rem;
  margin: 0 auto;
}

.detail {
  flex: 1 1 60%;
}

.list {
  flex: 1 1 40%;
}

/* loading spinner */
.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid ytubeGrey;
  border-top: 5px solid ytubeRed;
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* mode button */
.app.dark .modeBtn {
  color: ytubeWhite;
  background-color: ytubeDarkBlack;
  border-color: ytubeGrey;
  box-shadow: rgba(251, 249, 249, 0.777) 0px 1px 4px;
}

.modeBtn {
  position: fixed;
  bottom: 1.3rem;
  right: 1.3rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  color: ytubeDarkBlack;
  border-radius: 50%;
  background-color: ytubeWhite;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 100;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

/* work date */
.footer p {
  position: relative;
  bottom: 1.3rem;
  left: 1.3rem;
  margin: 0;
  font-size: 0.7rem;
  font-style: italic;
  color: ytubeGrey;
}

/* responsive: Tablet */
@media screen and (max-width: Tablet) {
  .content {
    flex-direction: column;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
